.button-container {
    text-align: center;
    padding: 10px;
}

button {
    font-family: "Noto Serif";
    font-size: 18px;
    padding: 10px;
    border: none;
    min-width: 100px;
    cursor: pointer;
}

button:hover {
    background-color: rgb(221, 219, 219);
    transition: 0.7s;
}

h1 {
    font-family: "Noto Serif";
    text-align: center;
    font-size: 48px;
    margin-top: 120px;
}

h2 {
    font-family: "Noto Serif";
}